{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "releaseRules": [
        {"type": "build", "release": "patch"}
      ]
    }],
    "@semantic-release/release-notes-generator",
    "gradle-semantic-release-plugin",
    [
      "@semantic-release/git",
      {
        "assets": [
          "README.md",
          "patches.json"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/libs/*.jar"
          },
          {
            "path": "patches.json"
          }
        ]
      }
    ]
  ]
}
