{
  "branches": [
    "main-unofficial",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "gradle-semantic-release-plugin",
    [
      "@semantic-release/git",
      {
        "assets": [
          "README.md",
          "patches.json"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/libs/*.jar"
          },
          {
            "path": "patches.json"
          }
        ]
      }
    ],
    [
      "@saithodev/semantic-release-backmerge",
      {
        "branches": [{from: "main", to: "dev"}]
      }
    ]
  ]
}
